/***********
* TIMELINE *
***********/
.timeline {
      border-left: 1px solid #1a1a1a;
      position: relative;
      list-style: none;
}

.timeline .timeline-item {
      position: relative;
}

.timeline .timeline-item:after {
      position: absolute;
      display: block;
      top: 0;
}

.timeline .timeline-item:after {
      background-color: #d9534f;
      left: -38px;
      border-radius: 50%;
      height: 11px;
      width: 11px;
      content: "";
}


/**********
** IMAGE **
**********/
/* Resizing svg icons */
.icons{
      width: 50px;
      height: 50px;
}